<section class="social-section">
  <div class="container social-container">
    <app-section-header
      title="Check out @foodieland on Instagram"
      description="Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim "
    ></app-section-header>
    <div class="posts-container">
      <div class="post__wrapper">
        <img
          src="../../../../assets/images/social/post01.jpg"
          alt=""
          class="post"
        />
      </div>
      <div class="post__wrapper">
        <img
          src="../../../../assets/images/social/post02.jpg"
          alt=""
          class="post"
        />
      </div>
      <div class="post__wrapper">
        <img
          src="../../../../assets/images/social/post03.jpg"
          alt=""
          class="post"
        />
      </div>
      <div class="post__wrapper">
        <img
          src="../../../../assets/images/social/post04.jpg"
          alt=""
          class="post"
        />
      </div>
    </div>
    <app-button
      class="button"
      buttonClass="buttonOne"
      text="Visit Our Instagram"
    ></app-button>
  </div>
</section>
