<section class="hero">
  <div class="container hero-container">
    <swiper class="mySwiper" [centeredSlides]="true" [slidesPerView]="1">
      <ng-template swiperSlide>
        <div class="hero-slide">
          <div class="slide-left">
            <div class="slide-left-top">
              <span class="slide__tag">
                <img
                  src="../../../../assets/images/hero/hot-recipes.svg"
                  alt=""
                />
                Hot Recipes
              </span>
              <h1 class="slide__title">Spicy delicious chicken wings</h1>
              <p class="slide__text">
                Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqut enim
                ad minim
              </p>
              <div class="slide__info">
                <div class="slide__info-bit">
                  <div>
                    <i class="bx bxs-timer"></i> <span>30 Minutes</span>
                  </div>
                </div>
                <div class="slide__info-bit">
                  <div><i class="bx bx-fork"></i> <span>Chicken</span></div>
                </div>
              </div>
            </div>
            <div class="slide-left-bottom">
              <div class="hero__person">
                <img
                  src="../../../../assets/images/hero/hero-hero.png"
                  alt=""
                  class="hero__person--image"
                />
                <div class="hero__person-details">
                  <p class="name">John Smith</p>
                  <span>15 March 2022</span>
                </div>
              </div>
              <div class="button buttonOne">
                <a href="">View Recipe</a>
                <i class="bx bx-play-circle"></i>
              </div>
            </div>
          </div>
          <div class="slide-right">
            <img src="../../../../assets/images/hero/hero.jpg" alt="" />
          </div>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div class="hero-slide">
          <div class="slide-left">
            <div class="slide-left-top">
              <span class="slide__tag">
                <img
                  src="../../../../assets/images/hero/hot-recipes.svg"
                  alt=""
                />
                Hot Recipes
              </span>
              <h1 class="slide__title">Spicy delicious chicken wings</h1>
              <p class="slide__text">
                Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqut enim
                ad minim
              </p>
              <div class="slide__info">
                <div class="slide__info-bit">
                  <div>
                    <i class="bx bxs-timer"></i> <span>30 Minutes</span>
                  </div>
                </div>
                <div class="slide__info-bit">
                  <div><i class="bx bx-fork"></i> <span>Chicken</span></div>
                </div>
              </div>
            </div>
            <div class="slide-left-bottom">
              <div class="hero__person">
                <img
                  src="../../../../assets/images/hero/hero-hero.png"
                  alt=""
                  class="hero__person--image"
                />
                <div class="hero__person-details">
                  <p class="name">John Smith</p>
                  <span>15 March 2022</span>
                </div>
              </div>
              <div class="button buttonOne">
                <a href="">View Recipe</a>
                <i class="bx bx-play-circle"></i>
              </div>
            </div>
          </div>
          <div class="slide-right">
            <img src="../../../../assets/images/hero/hero.jpg" alt="" />
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</section>
