<footer class="footer">
  <div class="container footer-container">
    <div class="footer__top">
      <div class="footer__top-left">
        <p class="header__logo">Foodieland<span>.</span></p>
        <p class="footer__text">
          Lorem ipsum dolor sit amet, consectetuipisicing elit,
        </p>
      </div>
      <div class="footer__top-right">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="/recipes" class="footer__link"> Recipes </a>
          </li>
          <li class="footer__item">
            <a href="/blog" class="footer__link"> Blog </a>
          </li>
          <li class="footer__item">
            <a href="/contact" class="footer__link"> Contact </a>
          </li>
          <li class="footer__item">
            <a href="/about" class="footer__link"> About Us </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__bottom--center">
        © 2020 Flowbase. Powered by <a href="">Webflow</a>
      </p>
      <div class="footer__social">
        <a href="" class="social__link">
          <i class="bx bxl-facebook"></i>
        </a>
        <a href="" class="social__link">
          <i class="bx bxl-twitter"></i>
        </a>
        <a href="" class="social__link">
          <i class="bx bxl-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
