<section class="chef-section">
  <div class="container chef-container">
    <div class="chef-left">
      <!-- <SectionHeader
        className="chef-header"
        title="Everyone can be a chef in their own chef"
        text="Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim "
      /> -->
      <app-section-header
        class="chef-header"
        title="Everyone can be a chef in their own chef"
        description="Lorem ipsum dolor sit amet, consectetuipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqut enim ad minim "
      ></app-section-header>
      <app-button
        buttonClass="buttonOne"
        class="button"
        text="Learn More"
      ></app-button>
    </div>
    <div class="chef-right">
      <div class="chef-img-wrapper">
        <img
          src="../../../../assets/images/chef/kitchen-chef.png"
          alt=""
          class="chef__img"
        />
      </div>
    </div>
  </div>
</section>
